<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ohgiraffers.section01.remix.MenuMapper">


    <!-- teamResultMap -->
    <resultMap id="teamResultMap" type="com.ohgiraffers.section01.common.TeamDTO">
        <id property="teamCode" column="TEAM_CODE"/>
        <result property="teamName" column="TEAM_NAME"/>
        <result property="leagueCode" column="LEAGUE_CODE"/>
        <result property="leagueName" column="LEAGUE_NAME"/>
    </resultMap>


    <select id="selectAllTeam" resultMap="teamResultMap">
        SELECT
        TEAM_CODE
        , TEAM_NAME
        , LEAGUE_CODE
        , LEAGUE_NAME
        FROM TBL_TEAM
        ORDER BY TEAM_CODE
    </select>


    <!-- playerResultMap -->
    <resultMap id="playerResultMap" type="com.ohgiraffers.section01.common.PlayerDTO">
        <id property="playerCode" column="PLAYER_CODE"/>
        <result property="playerNo" column="PLAYER_NO"/>
        <result property="playerName" column="PLAYER_NAME"/>
        <result property="teamCode" column="TEAM_CODE"/>
        <result property="teamName" column="TEAM_NAME"/>
        <result property="leagueName" column="LEAGUE_NAME"/>
    </resultMap>

    <select id="selectAllPlayer" resultMap="playerResultMap">
        SELECT
        PLAYER_CODE
        , PLAYER_NO
        , PLAYER_NAME
        , TEAM_NAME
        , LEAGUE_NAME
        FROM TBL_PLAYER
        ORDER BY PLAYER_CODE
    </select>

    <select id="searchMenu" resultMap="playerResultMap">
        SELECT
        PLAYER_CODE
        , PLAYER_NO
        , PLAYER_NAME
        , TEAM_NAME
        , LEAGUE_NAME
        FROM TBL_PLAYER
        <choose>
            <when test="condition == 'team'">
                WHERE TEAM_NAME LIKE '%' || #{ value } || '%'
            </when>
            <otherwise>
                WHERE 1=1
                <if test="condition == 'player'">
                    AND PLAYER_NAME = #{value}
                </if>
            </otherwise>
        </choose>
        ORDER BY PLAYER_CODE
    </select>

    <insert id="insertPlayer" parameterType="com.ohgiraffers.section01.common.PlayerDTO">
        INSERT
        INTO TBL_PLAYER
        (
        PLAYER_CODE
        , PLAYER_NO
        , PLAYER_NAME
        , TEAM_CODE
        , TEAM_NAME
        , LEAGUE_NAME
        )
        VALUES
        (
        SEQ_PLAYER_CODE.NEXTVAL
        , #{ playerNo }
        , #{ playerName }
        , #{ teamCode }
        , #{ teamName }
        , #{ leagueName }
        )
    </insert>

    <update id="updatePlayer" parameterType="com.ohgiraffers.section01.common.PlayerDTO">
        UPDATE
        TBL_PLAYER
        SET PLAYER_CODE = #{ playerCode }
        , PLAYER_NO = #{ playerNo }
        , PLAYER_NAME = #{ playerName }
        , TEAM_CODE = #{ teamCode }
        , TEAM_NAME = #{ teamName }
        , LEAGUE_NAME = #{ leagueName }
        WHERE PLAYER_CODE = #{ playerCode }
    </update>

    <delete id="deletePlayer" parameterType="_int">
        DELETE
        FROM TBL_PLAYER
        WHERE PLAYER_CODE = #{ playerCode }
    </delete>


    <select id="searchLeague"  resultMap="teamResultMap" parameterType="SearchCriteria">
        SELECT
        TEAM_CODE
        , TEAM_NAME
        , LEAGUE_CODE
        , LEAGUE_NAME
        FROM TBL_TEAM
        WHERE 1=1
        <choose>
            <when test="value == '프리미어리그'">
                AND LEAGUE_CODE IN (1)
            </when>
            <when test="value == '라리가'">
                AND LEAGUE_CODE IN (2)
            </when>
            <when test="value == '세리에A'">
                AND LEAGUE_CODE IN (3)
            </when>
            <when test="value == '분데스리가'">
                AND LEAGUE_CODE IN (4)
            </when>
            <when test="value == '리그1'">
                AND LEAGUE_CODE IN (5)
            </when>
            <when test="value == '프리메이라리가'">
                AND LEAGUE_CODE IN (6)
            </when>
            <when test="value == '에레디비시'">
                AND LEAGUE_CODE IN (7)
            </when>
            <when test="value == '벨기에프로리그'">
                AND LEAGUE_CODE IN (8)
            </when>
            <when test="value == '오스트리아분데스리가'">
                AND LEAGUE_CODE IN (9)
            </when>
            <otherwise>
                AND LEAGUE_CODE IN (10)
            </otherwise>
        </choose>
        ORDER BY LEAGUE_CODE
    </select>
</mapper>
